.App {
  text-align: center;
}

.Header{
  background: rgba(225, 225, 225, 0.5);
  width: 60%;
  min-width: 300px;
  display: inline-block;
  padding-top: 0;
  padding-bottom: 15px;
  border-radius: 100px 100px 100px 100px;
  margin-bottom: 20px;
  border: 2px solid black;
  color: #fff;
  text-shadow: 2px 2px #313131;
  text-align: center;
  font-family: Georgia, 'Garamond', Times, serif;
}

.Header .heading {
  font-size: 30px;
  font-style: normal;
}

.Header .headingSub {
  font-size: 20px;
  font-style: italic;
}

.search-box {
  display: inline-block;
  width: 80%;
  margin: 0 0 50px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(225, 225, 225, 0.5);
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;
  transition: 0.2s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(225, 225, 225, 0.452);
}



.ScrollMenu{
  background: rgb(17,40,235);
  background: linear-gradient(90deg, rgba(17,40,235,0.9471989479385504) 0%, rgba(128,226,230,1) 100%);
  border: 15px;
  width: 100%;
  border: 2px solid black;
}

.users {
  text-align: left;
  line-height: 1.75;
  display: inline-block;
  overflow: auto;
  overflow-y: hidden;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  white-space: nowrap;
}

.users li {
  border: 1px solid black;
  padding: 1.2rem;
  background: rgba(175, 211, 255, 0.739);
  max-width: 40%;
  min-width: 250px;
  border-radius: 20px;
  box-shadow: 5px 5px 8px rgb(68, 147, 250);
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

.name {
  font-size: 36px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px #313131;
}

.username {
  font-weight: 600;
  font-style: italic;
}

.email {
  color: #fff;
  text-transform: lowercase;
  cursor: pointer;
}

.email:hover {
  color: #fff;
  text-shadow: 2px 2px #313131;
}

.code {
  padding-left: 65px;
}

.address, .code {
  font-style: italic;
}
