.App {
  text-align: center;
}

.Header{
  background-image: url(cloudpass.png);
  width: 100%;
  display: inline-block;
  padding-top: 0;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border: 2px solid black;
  color: #fff;
  text-shadow: 2px 2px #313131;
  text-align: center;
  font-family: Georgia, 'Garamond', Times, serif;
}

.Header .heading {
  font-size: 30px;
  font-style: normal;
}

.Header .headingSub {
  font-size: 20px;
  font-style: italic;
}

.search-box {
  display: inline-block;
  width: 80%;
  margin: 0 0 50px;
  width: 100%;
}

.search-box .search-bar {
  display: inline-block;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(225, 225, 225, 0.5);
  border-radius: 0px 0px 16px 16px;
  box-shadow: 4px 6px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;
  transition: 0.2s ease;
  width: 80%;
}

.search-box .search-bar:focus {
  background-color: rgba(225, 225, 225, 0.452);
}



.ScrollMenu{
  background: rgb(17,40,235);
  background: linear-gradient(90deg, rgba(6,60,133,0.9471989479385504) 0%, rgba(128,226,230,1) 100%);
  border: 15px;
  border: 2px solid black;
  margin-bottom: 50px;
  margin-right: 0;
  padding-right: 50px;
}

.users {
  text-align: left;
  line-height: 1.75;
  display: inline-block;
  overflow: auto;
  overflow-y: hidden;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
  white-space: nowrap;
}

.users li {
  border: 1px solid black;
  padding: 1.2rem;
  background: rgba(175, 211, 255, 0.739);
  min-width: 300px;
  width: 30%;
  border-radius: 20px;
  box-shadow: 5px 5px 8px rgb(68, 147, 250);
  margin-left: 20px;
  margin-right: 50px;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  word-wrap: break-word;
  height: 100%;
}

.name {
  font-size: 36px;
  color: rgba(6,60,133,0.9471989479385504);
  font-weight: 700;
  text-transform: uppercase;
    text-align: center;
}

.username {
  font-weight: 600;
  font-style: italic;
}

.email {
  color: rgba(6,60,133,0.9471989479385504);
  text-transform: lowercase;
  cursor: pointer;
}

.email:hover {
  color: #fff;
  text-shadow: 2px 2px #313131;
}

.code {
  padding-left: 65px;
  border-radius: 70px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.address, .code {
  font-style: italic;
}

.footer {
  background: rgba(6,60,133,0.9471989479385504);
  height: 80px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  color: #fff;
  font-size: 20px;
  font-style: italic;
  text-shadow: 2px 2px #313131;
  font-family: Georgia, 'Garamond', Times, serif;
  border: 1px solid black;
  }
