body {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(0,91,255);
background: linear-gradient(90deg, rgba(0,91,255,1) 0%, rgba(54,172,60,1) 50%, rgba(0,91,255,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
